<!-- Main handlebars template -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/public/css/styles.css">
    </head>
    <body>
        {{{body}}}
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="/public/js/form_validate.js"></script>
    </body>
</html>
