<main>
    <article>
        <h1>Vincent Cancelliere</h1>
        <p>
            I am a 3rd year student at Stevens Institute of Technology.  My major is Computer Science.  
            My main focuses in this field is application development, mobile app development, web development, and video game development.  
            My hobbies are working out, enjoying time with friends and family, and playing videogames.  
        </p>
    </article>
    <article>
        <h1>Jason Casper</h1>
        <p>
            skibidi
        </p>
    </article>
    <article>
        <h1>James Toronto</h1>
        <p>
            I am a 3rd year student at Stevens Institute of Technology.  My major is Computer Science.  
            Over the past year I have grown more comfortable with JavaScript and other scripting languages
            as I have been working on several personap projects for various games that use script based modding
            applications!  
        </p>
    </article>
    <article>
        <h1>Caleb Riggs</h1>
        <p>...</p>
    </article>

    <a href="/home">Go Back Home</a>
</main>