<main>
    <article>
        <h1>Vincent Cancelliere</h1>
        <img src="" alt="Vincent Cancelliere's Picture">
        <p>
            I am a 3rd year student at Stevens Institute of Technology.  My major is Computer Science.  
            My main focuses in this field is application development, mobile app development, web development, and video game development.  
            My hobbies are working out, enjoying time with friends and family, and playing videogames.  
        </p>
    </article>
    <article>
        <h1>Jason Casper</h1>
    </article>
    <article>
        <h1>James Toronto</h1>
    </article>
    <article>
        <h1>Caleb Riggs</h1>
    </article>

    <a href="/">Go Back Home</a>
</main>