<!-- Home page: includes 'Sign up as user' and 'Sign up as gym' buttons, 
    as well as a link: 'Already have an account? Sign In!' -->

<main>
    <h1>Welcome to Strength4You</h1>
    <p>This is the home page. Please navigate using the links above.</p>
</main>