<!-- Home page: includes 'Sign up as user' and 'Sign up as gym' buttons, 
    as well as a link: 'Already have an account? Sign In!' -->

<title>Strength4You HomePage</title>

<main>
    <h1>Welcome to Strength4You</h1>
    <p>Create Account below!</p>

    <a href="/users/signup" id="signUpUserLink">Sign Up as User</a>
    <a href="/gyms/signup" id="signUpGymLink">Sign Up as Gym</a>
</main>
<a href="/about">About Us</a>