<!-- Home page: includes 'Sign up as user' and 'Sign up as gym' buttons, 
    as well as a link: 'Already have an account? Sign In!' -->

<title>Strength4You HomePage</title>

<main class="home-background">
    <h1>Welcome to Strength4You</h1>
    <div class="container">
        <br>
        <br>
        <h2>Create Account below!</h2>

        <div>
            <a href="/users/signup" id="signUpUserLink">Sign Up as User</a>
            <a href="/users/signin" id="signInUserLink">Already Have an account? Sign in!</a>
        </div>
        <div>
            <a href="/gyms/signup" id="signUpGymLink">Sign Up as User</a>
            <a href="/gyms/signin" id="signInGymLink">Already Have an account? Sign in!</a>
        </div>

        <br>
        <div><a href="/about">About Us</a></div>
    </div>
</main>
