<!-- Main search page (only accessible if signed in, UI may change depending on session role: admin/user/gym) -->

<title>Search Gyms</title>

<main>
    <nav>
        <a href="/home">Home</a>
        <a href="/signout">Sign Out</a>
        <a href="/profile">Profile</a>
    </nav>
    <h1>Search for Gyms</h1>

    <!-- Search Options -->
    
    <div>
        <form id="gymSearchForm">
            <!-- Name Search -->
            <label for="nameSearchTerm">Enter Gym Name:</label>
            <input type="text" id="nameSearchTerm" name="nameSearchTerm" placeholder="e.g., Gold's Gym, Planet Fitness">
            <div id="gymNameError" hidden></div>
            <!-- Address Search -->
            <label for="addressSearchTerm">Enter Gym Address:</label>
            <input type="text" id="addressSearchTerm" name="addressSearchTerm" placeholder="e.g., Hoboken, Jersey City">
            <div id="gymAddressError" hidden></div>
            <!-- Equipment Search -->
            <label for="equipmentSearchTerm">Enter Gym Equipment:</label>
            <input type="text" id="equipmentSearchTerm" name="equipmentSearchTerm" placeholder="e.g., treadmills, bench press">
            <div id="gymEquipmentError" hidden></div>

            <!-- Search Button-->
            <button type="submit" class="gymSearchButton">Search</button>
        </form>

        <!-- Search Option Content (shown when needed) -->
        <ul id="searchResults" hidden></ul>
        <!-- Misc. Error -->
        <div id="searchError" hidden></div>

    </div>


    <footer><p>&copy; 2024 Strength4You</p></footer>
</main>
