<!-- Main search page (only accessible if signed in, UI may change depending on session role: admin/user/gym) -->

<title> Gym Search </title>

<main>
    <p> Here you will see a list of gym profiles </p>
</main>