<!-- Sign in page (serves both Users and Gyms, as userId and password are only required fields -->

<title>Sign In</title>

<main>
    <h1>Sign In</h1>
    <form action="/users/signin" method="POST">
        <div class="inputFields">
            <!-- User ID -->
            <div> <label for="userId" class="label">User ID</label> </div>
            <div> <input type="text" name="userId" id="userId"> </div>
            <div class="error" id="userIdError" hidden></div>
            <!-- Password -->
            <div> <label for="password" class="label">Password</label> </div>
            <div> <input type="password" name="password" id="password"> </div>
            <div class="error" id="passwordError" hidden></div>
        </div>

        <!-- Sign in button -->
        <button type="submit">Sign In</button>
    </form>

    <!-- Include link here to redirect to home page-->
</main>