<!-- Sign up user page (role = admin || user) -->

<title>Sign Up - User</title>

<main>
    <h1>Sign Up - User</h1>
    <form action="/users/signup" method="POST" id="userSignUpForm">
        <div class="inputFields">
            <!-- First Name -->
            <div> <label for="firstName" class="label">First Name</label> </div>
            <div> <input type="text" name="firstName" id="firstName"> </div>
            <div class="error" id="firstNameError" hidden></div>

            <!-- Last Name -->
            <div> <label for="lastName" class="label">Last Name</label> </div>
            <div> <input type="text" name="lastName" id="lastName"> </div>
            <div class="error" id="lastNameError" hidden></div>

            <!-- User ID -->
            <div> <label for="userId" class="label">User ID</label> </div>
            <div> <input type="text" name="userId" id="userId"> </div>
            <div class="error" id="userIdError" hidden></div>

            <!-- Password -->
            <div> <label for="password" class="label">Password</label> </div>
            <div> <input type="password" name="password" id="password"> </div>
            <div class="error" id="passwordError" hidden></div>

            <!-- Confirm Password -->
            <div> <label for="confirmPassword" class="label">Confirm Password</label> </div>
            <div> <input type="password" name="confirmPassword" id="confirmPassword"> </div>
            <div class="error" id="confirmPasswordError" hidden></div>

            <!-- Admin Key -->
            <div> <label for="adminKey" class="label">Admin Key</label> </div>
            <div> <input type="password" name="adminKey" id="adminKey" placeholder="End Users leave blank"> </div>
            <div class="error" id="adminKeyError" hidden></div>

            <!-- Email -->
            <div> <label for="email" class="label">Email</label> </div>
            <div> <input type="email" name="email" id="email"> </div>
            <div class="error" id="emailError" hidden></div>

            <!-- Date of Birth -->
            <div> <label for="dob" class="label">Date of birth</label> </div>
            <div> <input type="date" name="dob" id="dob"> </div>
            <div class="error" id="dobError" hidden></div>

            <!-- City -->
            <div> <label for="city" class="label">City</label> </div>
            <div> <input type="text" name="city" id="city"> </div>
            <div class="error" id="cityError" hidden></div>

            <!-- State -->
            <div> <label for="state" class="label">State</label> </div>
            <div> <input type="text" name="state" id="state"> </div>
            <div class="error" id="stateError" hidden></div>
        </div>

        <!-- Sign Up Button -->
        <button type="submit">Sign Up</button>
    </form>

    <!-- Back Button -->
    <div style="margin-top: 20px;">
        <a href="/" style="text-decoration: none; color: blue;">&#8592; Back to Home</a>
    </div>
</main>
