<!-- Sign in page (serves Gyms only, userId and password are only required fields) -->

<title>Sign In - Gym</title>

<main class="signin-background">
    <div class="signin-div">
        <h1 class="signin-h1">Sign In - Gym</h1>

        <form action="/gyms/signin" method="POST" id="signInGym">
            <div class="signin-inputFields">

                <!-- User ID -->
                <div>
                    <label for="userId" class="signin-label">User ID</label>
                    <input class="signin-input" type="text" name="userId" id="userId">
                </div>
                <div class="error" id="userIdError" hidden></div>

                <!-- Password -->
                <div>
                    <label for="password" class="signin-label">Password</label>
                    <input class="signin-input" type="password" name="password" id="password">
                </div>
                <div class="error" id="passwordError" hidden></div>
            </div>

            <!-- Sign in button -->
            <button type="submit" class="signin-button">
                Sign In
            </button>
        </form>

        <!-- Back to Home link -->
        <div>
            <a href="/home">Back to Home</a>
        </div>
    </div>
</main>
