<!-- Sign in page (serves Users only, userId and password are only required fields -->

<title>Sign In - User</title>

<main class="signin-background">
    <div class="signin-div">
        <h1 class="signin-h1">Sign In - User</h1>

        <form action="/users/signin" method="POST" id="signInUser">
            <div class="signin-inputFields">

                <!-- User ID -->
                <div>
                    <label for="userId" class="signin-label">User ID</label>
                    <input class="signin-input" type="text" name="userId" id="userId">
                </div>
                <div class="error" id="userIdError" hidden></div>

                <!-- Password -->
                <div>
                    <label for="password" class="signin-label">Password</label>
                    <input class="signin-input" type="password" name="password" id="password">
                </div>
                <div class="error" id="passwordError" hidden></div>
            </div>

            <!-- Sign in button -->
            <button type="submit" class="signin-button">
                Sign In
            </button>
        </form>

        <!-- Back to Home link -->
        <div style="margin-top: 15px;">
            <a href="/home" style="
                color: #007BFF;
                text-decoration: none;
                font-size: 1rem;">
                Back to Home
            </a>
        </div>
    </div>
</main>
