<!-- Sign out page (include link to redirect to '/') -->

<title>Signed Out</title>

<main>
    <p>You have signed out</p>
    <div> <a href="/" class="switchPageLink">Sign in Here!</a> </div>
</main>