<!-- Sign up gym page (role = gym) -->

<title>Sign up - Gym</title>

<main>
    <h1>Sign Up - Gym</h1>
    <form action="/gyms/signup" method="POST">
        <label for="name">Gym name:</label>
        <input type="text" id="name" name="name" placeholder="Enter the name of your gym">

        <label for="userId">userId:</label>
        <input type="text" id="userId" name="userId" placeholder="Enter a user ID">

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter a password">

        <label for="address">Address:</label>
        <input type="text" id="address" name="address" placeholder="Enter your gym's address">

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Enter your gym's email">

        <!-- etc. below (see database proposal for other required info -->


        <button type="submit">Sign Up</button>
    </form>
</main>
