<!-- Sign out page (include link to redirect to '/') -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signed Out</title>
</head>
<body>
    <h1>You have been signed out</h1>
    <p><a href="/home">Return to Home</a></p>
</body>
</html>
