/* General styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}



/* Form container */
.formContainer {
    display: flex;
    justify-content: flex-start;
    gap: 2rem; /* Space between sections */
}
.inputFields,
#hoursFields {
    flex: 1; /* Ensure sections take up equal width */
    max-width: 25%; /* Prevent overflow of any section */
}
.inputFields {
    display: flex;
    flex-direction: column;
    gap: .6rem; /* Space between input fields */
}
#hoursFields {
    display: flex;
    flex-direction: column;
    gap: 0.5rem; /* Space between hour input fields */
}



/* Form elements */
form {
    display: flex;
    flex-direction: column;
}
label {
    font-weight: bold;
}
input {
    border: 1px solid #ccc;
    font-size: 15px;
}


/* Button */
button {
    margin-top: 20px;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto;
    max-width: 300px;
}
button:hover {
    background-color: #0056b3;
}


/* Link styling */
a {
    display: block;
    margin-top: 15px;
    text-align: center;
    color: #007BFF;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
